@import "tailwindcss";

@theme {
  --color-primary: #F5FBF5;
  --color-secondary: #DAF1DB;

  --color-text-primary: #203C25;
  --color-text-secondary: #2A7E3B;

  --color-btn-primary: #46A758;
  --color-btn-hover: #3E9B4F;
  

  --color-border: #94CE9A;

  --font-brand: 'Andika',sans-sesif;
  --font-heading: 'Muli', sans-sesif; 
  --font-body: 'Neuton', sesif;

}